body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #E08E79;
  background-size: cover;
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
}

/*
body::before {
  content: '';
  background-color: rgb(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/

.logo img {
  height: 80px;
  width: 80px;
}

.header {
  padding: 20px 50px;
  position: relative;
  z-index: 10;
}

/* Add */
label{
  font-size: 16px;
  color: #fff;
  margin-top: 0;
}

/* Add */
select{
  font-size: 16px;
  color: #000;
  margin-top: 0;

  color: #fff;
  height: 50px;
  width: 100%;
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
}

.login_body h2 {
  font-size: 32px;
  color: #fff;
  margin-top: 0;
}

.login_body input {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #E08E79;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
}

  .login_body input:hover {
  background-color: #5c3131;
  }

/* Add */
select:hover {
  background-color: #444;
}

.input_box {
  margin-bottom: 25px;
}

.login_body input.btn {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #EC7253; /*#e50914*/
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  margin-bottom: 10px;
}

.login_body input:hover.btn   {
  background-color: #e04e2a; /*botton*/
  cursor: pointer;
}

.support {
  display: flex;
  color: #b3b3b3;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 5px;
}

.support input {
  width: 15px;
  height: 15px;
}

.remember {
  display: flex;
  align-items: center;
}

.remember span {
  margin-right: 5px;
  height: 25px;
}

.help a {
  text-decoration: none;
  color: #737373;
}

.help a:hover {
  text-decoration: underline;
}

.login_facebook {
  display: flex;
  align-items: center;
  width: 100%;
  color: #c91a1a;
}

.login_facebook span {
  margin-right: 5px;
  font-size: 13px;
}

.login_facebook span a {
  text-decoration: none;
  color: #737373;
}

.sign_up a {
  color: #EC7253;
  font-size: 16px;
  text-decoration: none;
}

.sign_up a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.sign_up a:hover {
  text-decoration: underline;
}

.terms {
  color: #f4f5f7;
  font-size: 13px;
}

.terms a {
  text-decoration: none;
  color: #EC7253;
}

.terms a:hover {
  text-decoration: underline;
}

